<!-- BEGIN tags listing -->
{% capture tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = tags | split:',' | sort_natural %}    
<h3>Tags</h3>
<ul id="tag-list" class="entry-meta inline-list">
    {% for tag in (0..site.tags.size) %}
        {% unless forloop.last %}
            {% capture tag_name %}{{ tags_list[tag] | strip_newlines }}{% endcapture %}
            <li>
                <a href="/tags/#{{ tag_name | slugify }}"><span class="tag-name">{{ tag_name }}</span></a>
                <span class="tag-count">({{ site.tags[tag_name].size }})</span>
            </li>
        {% endunless %}
    {% endfor %}
</ul>
<!-- END tags listing -->
