<!-- BEGIN Hero Centered Dark -->
<div class="bg-dark text-secondary px-4 py-5 my-5 text-center component-hero-centered-dark">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">{{ include.title }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">{{ include.body }}</p>
                {%- if include.primary_link_text or include.secondary_link_text -%}
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        {%- if include.primary_link_text -%}
                            <button type="button" class="btn btn-outline-primary btn-lg px-4 me-sm-3 fw-bold" onclick="window.location.href='{{ include.primary_link_url }}';">{{ include.primary_link_text }}</button>
                        {%- endif -%}
                        {%- if include.secondary_link_text -%}
                            <button type="button" class="btn btn-outline-light btn-lg px-4" onclick="window.location.href='{{ include.secondary_link_url }}';">{{ include.secondary_link_text }}</button>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
        </div>
    </div>
</div>
<!-- END Hero Centered Dark -->
